@model PlaidCredentials
<div id="plaid-link" class="row">
    <div class="col-xs-12">
        <div id="form">
            <div class="input">
                <label><a>environment:</a></label>
                <select data-bind="value: environment">
                    <option selected>Sandbox</option>
                    <option>Development</option>
                    <option>Production</option>
                </select>
            </div>

            <div class="input">
                @foreach (var product in new string[] { "Transactions", "Auth", "Identity", "Income" })
                {
                    <label class="container">
                        @product
                        <input class="product-box" type="checkbox" data-value="@product.ToLower()" />
                        <span class="checkmark"></span>
                    </label>
                }
            </div>

            <hr />

            <div class="input">
                <label><a href="https://dashboard.plaid.com/account/keys" target="_blank">public_key:</a></label>
                <input type="text" data-bind="value: publicKey" />
            </div>

            <div class="input">
                <label>access_token:</label>
                <input type="text" data-bind="value: accessToken" placeholder="click link button to get a token" />
            </div>

            <button data-bind="click: showPlaidLink">Link Account</button>
        </div>
    </div>
</div>

<div id="plaid-products" class="row">
    <div class="col-xs-12">
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript">
        function ViewModel () {
            var self = this;

            self.environment = ko.observable("Sandbox");
            self.publicKey = ko.observable("@Model.PublicKey");
            self.accessToken = ko.observable("@Model.AccessToken");

            self.products = function () {
                let transactions = [];
                let elements = document.getElementsByClassName("product-box");
                for (let i = 0; i < elements.length; i++) {
                    if (elements[i].checked) {
                        let value = elements[i].getAttribute("data-value");
                        transactions.push(value);
                    }
                }
                return transactions;
            };

            self.hasAccessToken = ko.observable(function () {
                return self.isNullOrEmpty(this.accessToken);
            }, this);

            self.isNullOrEmpty = function (text) {
                return (!text || text.length === 0);
            }

            self.showPlaidLink = function () {
                var handler = Plaid.create({
                    clientName: 'Plaid Walkthrough Demo',
                    env: self.environment().toLowerCase(),
                    key: self.publicKey(),
                    product: self.products(),
                    webhook: 'https://requestb.in',/* Optional, use webhooks to get transaction and error updates */
                    onLoad: function () {
                        // Optional, called when Link loads
                    },
                    onSuccess: function (public_token, metadata) {
                        console.log("public_token: " + public_token);
                        // Send the public_token to your app server.
                        // The metadata object contains info about the institution the
                        // user selected and the account ID, if the Account Select view
                        // is enabled.

                        var data = {
                            public_token: public_token,
                            accounts: metadata.accounts,
                            institution: metadata.institution,
                            link_session_id: metadata.link_session_id
                        };
                        app.post(("/home/getaccesstoken?environment=" + self.environment()), data, function (result) {
                            console.log(result);
                            if (result.isSuccessStatusCode) {
                                self.accessToken(result.access_token);
                                console.debug("token: " + result.access_token);
                            } else {

                            }
                        });
                    },
                    onExit: function (err, metadata) {
                        // The user exited the Link flow.
                        if (err != null) {
                            // The user encountered a Plaid API error prior to exiting.
                        }
                        // metadata contains information about the institution
                        // that the user selected and the most recent API request IDs.
                        // Storing this information can be helpful for support.
                    },
                    onEvent: function (eventName, metadata) {
                        // Optionally capture Link flow events, streamed through
                        // this callback as your users connect an Item to Plaid.
                        // For example:
                        // eventName = "TRANSITION_VIEW"
                        // metadata  = {
                        //   link_session_id: "123-abc",
                        //   mfa_type:        "questions",
                        //   timestamp:       "2017-09-14T14:42:19.350Z",
                        //   view_name:       "MFA",
                        // }
                    }
                });
                handler.open();
            };
        }

        var vm = null;
        (function () {
            vm = new ViewModel();
            ko.applyBindings(vm);
            document.getElementsByClassName("product-box")[0].checked = true;
        })();
    </script>
}