@model Going.Plaid.Transactions.TransactionsGetResponse

<h2>Transactions</h2>
<table>
    @foreach(var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Name</td>
            <td>@transaction.Amount.ToString("C2")</td>
            <td>@transaction.Date.ToShortDateString()</td>
        </tr>
    }
</table>