* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #fff;
}

#form {
}

td, th {
    text-align: left;
    padding-right: 1rem;
}

td.right, th.right {
    text-align: right;
}