name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          3.1.x
          6.0.x
          7.0.x
          8.0.x

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      env:
        PLAID__CLIENTID: ${{ secrets.PLAIDCLIENTID }}
        PLAID__SECRET: ${{ secrets.PLAIDSECRET }}
      run: dotnet test -c Release --no-build --logger GitHubActions
      if: github.repository == 'viceroypenguin/Going.Plaid'

    - name: Package
      run: dotnet pack src/Plaid/Plaid.csproj -c Release --no-build -o nupkgs
      if: startsWith(github.ref, 'refs/tags/')
    - name: Push to Nuget
      run: dotnet nuget push "./nupkgs/*.nupkg" --source "https://api.nuget.org/v3/index.json" --api-key ${{ secrets.NUGETPUBLISHKEY }}
      if: startsWith(github.ref, 'refs/tags/')
