<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.11" targetFramework="net452" />
  <package id="ApprovalUtilities" version="3.0.11" targetFramework="net452" />
  <package id="JustMock" version="2016.2.426.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="psake" version="4.6.0" targetFramework="net452" />
</packages>